<div class="well">
    <a href="@Url.Action("SendNewsmail", "BackOfficeAccount")"><div class="text-center btn btn-info buttonNav">Nieuwsbrief verzenden</div></a> <br/><br />
    <a href="@Url.Action("AddHallMovie", "BackOfficeAccount")"><div class="text-center btn btn-info buttonNav">Voorstelling toevoegen</div></a> <br/><br />
    <a href="@Url.Action("AddMovie", "BackOfficeAccount")"><div class="text-center btn btn-info buttonNav">Film toevoegen</div></a> <br/>
</div>
