@model BioscoopB3Web.Domain.Entities.Account

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string AccountMail = (string)(Session["AccountMail"]);
}

<br />

<div class="container">
    <div class="row">
        <div class="well">
            <div class="col-md-6">Account mail: @Model.Email</div>
            <div class="col-md-6">Account type: @Model.AccountType</div>
        </div>
    </div>
</div>