@model BioscoopB3Web.Domain.Entities.Account

@{
    ViewBag.Title = "Aangemeld";
}

<h2 class="text-center">Je bent aangemeld op onze nieuwsbrief!</h2>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Naam
                </th>
                <th>
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Name
                </td>
                <td>
                    @Model.Email
                </td>
            </tr>
        </tbody>
    </table>
</div>