
@{
    ViewBag.Title = "Uitgelogd";
}
<br/>

<div class="container">
    <div class="row">
        <div class="well text-center">
            <h1 class="text-center">Succesvol uitgelogd</h1>
            <a href="@Url.Action("Index", "Home")"><div class="text-center btn btn-info buttonNav Movie-button">Home</div></a>
        </div>
    </div>
</div>

