@{
    ViewBag.Title = "Contact";
}



<div class="container text-center">
    <h2>Contact informatie</h2>
    <br /><br />
    <div class="row">
        <div class="col-md-2">
            <div>
                <p>Bioscoop B3 is gelegen net buiten het centrum van Breda</p>
            </div>
            <div>
                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                <a href="https://www.twitter.com/" class="fa fa-twitter"></a>
                <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
            </div>
        </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.156508254232!2d4.794132515591282!3d51.58369491294326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6a1d78f491fbb%3A0x9941b861975cf0a3!2sHogeschoollaan%2C+Breda!5e0!3m2!1snl!2snl!4v1488804615085" 
                        width="600" height="450" frameborder="1" style="border:0" allowfullscreen></iframe>
            </div>
    </div>
</div>
